*{
    margin: auto;
    padding: 0;
    background-color: 100px  darkslategray;
    color: white black;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 300px;
    border: 2px solid #0f0f0f;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: navy;
}
.bloco-jogos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
}