*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: navy;
}
.item{
    background-color: coral;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 30px;
}
.gap{
    gap: 10px;
}
.row-gap{
    row-gap: 10px;
}
column-gap{
    column-gap: 10px;
}