div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border:10px solid navy;
}
.com border box{
    background-color: aqua;
    box-sizing: border-box;
}
.sem border box{
    background-color: beige;
}
