/*campo das variaveis*/
:root{
    --cor-principal: #3498db;
    --cor-secundaria: #2ecc71;
    --espacamento: 10px;
    --tamanho-fonte-texto: 24px;
    --fonte-principal: Arial, Melvetica, sans-serif;
    --fonte-secundaria: Couler New, Courler, monospace;

}

button{
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    padding: var(--espacamento);
}

p{
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    margin: var(--espacamento);
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-texto);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}