*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 400px;
    height: 120px;
    margin: 5px;
    padding: 10px;
    background-color: navy;
}
.item{
    width: 90px;
    height: 30px;
    background-color: coral;
    color: #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.nowrap{
    flex-flow: row nowrap;
}
.row-wrap{
    flex-flow: row wrap;
}
.column-wrap{
    flex-flow: column wrap;
}
.column-nowrap{
    flex-flow: column nowrap;
}