.container {
    max-width: 300px;
    padding: 10px;
    background-color: crimson;
    color: white;
}
.item {
    background-color: coral;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.flex {
    display: flex;
}
 