*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*before - Insere conteúdo antes do elemento*/
.titulo::before{
    content: "Título: ";
    color: #3498db;
}

/*after - Insere conteúdo depois do elemento*/
.titulo::after{
    content: " - Fim do título";
    color: #2ecc71;
}

/*first-letter - Aplica estilo à primeira letra de um elemento*/
p::first-letter{
    font-size: 2rem;
    font-weight: bold;
    color: #e74c3c;
}

/*first-line - Aplica estilo à primeira linha de um elemento*/
.primeira-linha::first-line{
    color:  fuchsia;
}

/*selection - Aplica estilo ao texto selecionado pelo usuário*/
::selection{
    background-color: #3498db;
    color: white;
}

input::placeholder{
    color: #7f8c8d;
    font-style: italic;
}

ul{
    margin: 50px;
}

li::marker{
    color: #e67e22;
    font-size: 1.2rem;
}